html,
body {
	background-color: #0b0c10;
	font-family: "Roboto-Regular";
	color: #70727e;
	width: 100%;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
}
a {
	color: inherit;
}
.inner {
	max-width: 600px;
	width: 100%;
	min-height: 100px;
	background-color: #0f1217;
	padding: 10px 20px;
}
.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.min-btn {
	padding: 8px 28px 8px 12px;
	border-radius: 20px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	background-color: #1d1e23;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		background-image: url(../images/arrow-right.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		right: 8px;
		top: 8px;
		width: 5px;
		height: 12px;
		z-index: 1;
	}
}
.title-bottom{
	border-bottom: 1px solid #70727e;
	padding-bottom: 20px;
}