@media (max-width: 1570px){
    .main__nav{
        display: none;
    }
}
@media (max-width: 1110px){
    .header__logo{
        margin-right: 80px;
    }
}
@media (max-width: 1000px){
    .header__inner{
        position: relative;
    }
    .header__search form{

    }
}